body
{
    background-image: url(../images/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
@media(max-width:768px)     /* mobile view */        
{
    #parent
    {
        height: 90%;
    }
    #child,#child+div
    {
        height: 50%;
    }
    .offcanvas
    {
        width:75% !important;
    }

    info .btn
    {
        font-size: smaller;
    }


} 


@media(min-width:992px)     /* large screen view like laptop*/
{
    #child,#child+div
    {
        height: 100%;
    }
    #child
    {
        border-radius: 4px 0 0 4px;
    }

    #child+ div
    {
        border-radius: 0 4px 4px 0;
    }
    #parent
    {
        height: 50%;
    }
       
}
     


